body {
    background: rgb(251,248,247);
    background: linear-gradient(0deg, rgba(251,248,247,0.8832575266434699) 5%, rgba(135,34,27,1) 100%);
    color:#bcaaa4;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    box-shadow: 2px 2px 2px 2px;
    flex: 0 0 33%;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
    /* min-height: 600px ;
    max-width:300px ;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px, 10px; */
    background-color: #FFFFFF;
    color:#795548;
    font-family: 'Montserrat', sans-serif;

}

.card h2 {
    border: 1px;
    border-style: solid;
    border-color: lightblue;
    text-align: center;
    display: block;
}
.desc {
    text-align: justify;
}
.size {
    font-weight: bold;
}
.weight {
    font-weight: bold;
}
.details {
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 80%;
  } 
.available {
    background-color: darkgrey;
    color: yellow
}

//*
.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } *//